{% extends 'base.html.twig' %}

{% block title %}Mentions légales
{% endblock %}

{% block body %}
	<div class="container ">
		<h1 class='text-center'>Mentions légales</h1>
		<p class='text-center'>En vigueur au 09/02/2024</p>

		<p>Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la
																			Confiance dans l'économie numérique, dite L.C.E.N., il est porté à la connaissance des utilisateurs et
																			visiteurs, ci-après l'"Utilisateur", du site https://127.0.0.1:8000/politique-de-confidentialite , ci-après le
																			"Site", les présentes mentions légales.</p>

		<p>La connexion et la navigation sur le Site par l'Utilisateur implique acceptation intégrale et sans
																			réserve des présentes mentions légales.</p>

		<p>Ces dernières sont accessibles sur le Site à la rubrique « Mentions légales ».</p>

		<h2 class='text-center'>ARTICLE 1 - L'EDITEUR
		</h2>

		<p>L'édition du Site est assurée par coupart nutrition libérale au capital de 000000 euros, immatriculée
																			au Registre du Commerce et des Sociétés de Toulouse sous le numéro xxxx dont le siège
																			social est situé au15 av des Pyrénées 31000 Toulouse,
		</p>

		<ul>
			<li>Numéro de téléphone 05 12 24 55 10,
			</li>
			<li>Adresse e-mail :contact@v-parrot.com.
			</li>
			<li>N° de TVA intracommunautaire : xxx
			</li>
			<li>Le Directeur de la publication est Vincent Parrot ci-après l'"Editeur".
			</li>
		</ul>


		<h2 class='text-center'>ARTICLE 2 - L'HEBERGEUR</h2>

		<p>L'hébergeur du Site est la société Vincent Parrot, dont le siège social est situé au 15 av des Pyrénées 31000 Toulouse , avec le numéro de téléphone : 05 12 24 55 10 ou contact@v-parrot.com
		</p>

		<h2 class='text-center'>ARTICLE 3 - ACCES AU SITE</h2>


		<p>Le Site est accessible en tout endroit, 7j/7, 24h/24 sauf cas de force majeure, interruption
													programmée ou non et pouvant découlant d'une nécessité de maintenance.</p>
		<p>En cas de modification, interruption ou suspension du Site, l'Editeur ne saurait être tenu responsable.</p>


		<h2 class='text-center'>ARTICLE 4 - COLLECTE DES DONNEES
		</h2>

		<p>Le Site assure à l'Utilisateur une collecte et un traitement d'informations personnelles dans le respect
													de la vie privée conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers
													et aux libertés.
		</p>

		<p>En vertu de la loi Informatique et Libertés, en date du 6 janvier 1978, l'Utilisateur dispose d'un droit
													d'accès, de rectification, de suppression et d'opposition de ses données personnelles. L'Utilisateur
													exerce ce droit :
		</p>
		<ul>
			<li>Par courrier à l'adresse : 15 av des Pyrénées 31000 Toulouse;
			</li>
			<li>Par mail : contact@v-parrot.com.</li>
		</ul>

		<p>Toute utilisation, reproduction, diffusion, commercialisation, modification de toute ou partie du Site,
													sans autorisation de l’Editeur est prohibée et pourra entraînée des actions et poursuites judiciaires
													telles que notamment prévues par le Code de la propriété intellectuelle et le Code civil.</p>
	</div>
{% endblock %}
