{% extends 'base.html.twig' %}

{% block title %}Contact
{% endblock %}


{% block body %}
	<div class="container my-5">
		<h1 class="font-monospace text-center text-info my-5">Contacter nous</h1>
		{% include "/partials/contact/_contactForm.html.twig" %}
	</div>
{% endblock %}
