<div class="container my-5">
	<div class="row mb-2">
		<h2 class="font-monospace text-info text-center">Nos clients donnent leurs avis :
			<span class="js-average">{{average}}</span>/5</h2>
	</div>
	<div class="row justify-content-between">
		{% for review in reviews %}
			<div class="d-flex m-md-3 p-0 col-12 col-lg-3 border-bottom border-end rounded border-3 border-info">
				<div class="m-0 p-0 w-100 h-100 border border-1 border-primary border-opacity-50">
					<div class="container">
						<div class="row">
							<p class="col text-start">{{review.name}}</p>
							<p class="col text-end fs-4 text-success">{{review.rate}}/5</p>
						</div>
						<div class="row">
							<p class="col text-center font-monospace">"{{review.comment}}"
							</p>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

</div>
